---
title: Wipeout
layout: default
---

<div  data-bind="wipeout: Wipeout.Docs.ViewModels.ApiApplication" id="PageRoot">
    <div style="margin-left: 5px;">Compiling API. Please wait...</div>
</div>

{% for template in site.posts %}
    {% if template.path contains '_posts/templates/' %}  
        <script type="text/xml" id="{{ template.path | replace: '_posts/templates/', '' | replace: '/', '.' | replace: '/', '.' | replace: '2013-01-01-', '' | replace: '.html', '' }}">
            {{ template.content }}
        </script>
    {% endif %}  
{% endfor %}

<script type="text/javascript">
    window.bootstrapApplication = function() {
        setTimeout(function() {
            window.model = new Wipeout.Docs.Models.ApiApplication();
            ko.applyBindings(window.model, document.getElementById("PageRoot"));
            
            crossroads.parse(location.pathname + location.search);
            window.onpopstate = function() {
                crossroads.parse(location.pathname + location.search);
            };
        }, 500);
    };
</script>