
        <p>Models are special properties of a view model which contain business logic and application data. In the MVVM pattern they are the driving force behind your application while never concerning themselves with things such as appearence and the HTML DOM.</p>
        <p>In wipeout, the root model is specified when <code>ko.applyBindings({ the model })</code> is called. The <code>model</code> property of the root application will be set with this value and it can be used throughout. Every view model is guaranteed to have a model, as, if none is specifed the model of the parent will be used.</p>
        <Wipeout.Docs.ViewModels.Components.CodeBlock> 
            <code>&lt;wo.view model="$parent.model" />

&lt;!-- The model definition is un necessary here as "$parent.model" 
    is the default value. The code above can be re-written as: -->
    
&lt;wo.view /></code>
        </Wipeout.Docs.ViewModels.Components.CodeBlock> 