
        <p>Wipeout has several native bindings, some internal, some extenal, used to render elements</p>
        <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model()._icRender" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><h3>ic-render</h3></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
        <p>This internal binding is used by wipeout to find the item to be rendered from a binding context. It should not be used externally.</p>
        <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().itemsControl" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><h3>itemsControl</h3></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
        <p>This binding can only be used within the template for an <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().itemsControlClass" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><code>wo.itemsControl</code></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent> and specifies where to render it's items.</p>
        <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().render" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><h3>render</h3></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
        <p>This binding will render a view model. It is used extensively within wipeout but can also safely be used within an application to render a property which is a <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().viewClass" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><code>wo.view</code></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent></p>
        <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().wipeout_type" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><h3>wipeout-type</h3></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
        <p>This binding is used by wipeout in debug mode to label view model markup with the type of the view model. This makes it easier to view the application via DOM inspection.</p>
        <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model()._wo" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><h3>wo</h3></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
        <p>This internal binding is used by wipeout to extract view models from a template, pre render and inject the markup into the tempalte at render time.</p>
        <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model()._wipeout" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><h3>wipeout</h3></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
        <p>This binding defines a wipeout application.</p>