
        <p>Taking the code from <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().intro" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
                            <template>
                                <a href="javascript: void(0)" data-bind="click: trigger">Introduction</a>
                            </template>                            
                        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent> and <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().hello" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
                            <template>
                                <a href="javascript: void(0)" data-bind="click: trigger">Hello Wipeout</a>
                            </template>                            
                        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent>
            we can create something a little more complex. This time we will embedd a component into the helloWipeout application.
        </p>
        <h3>Modify the template of the root application</h3>    
        <p>Our application will now contain a collapsable, which shows or hides the collapsableContent of the root model. When setting the model of the collapsale, <a href="http://knockoutjs.com/documentation/binding-context.html" target="_blank">$parent</a> refers to the view model which the collapsable will be embedded into, in this case, the applicaiton</p>
        <Wipeout.Docs.ViewModels.Components.TemplateCodeBlock>
            <code>&lt;script type="text/xml" id="helloWipeout.rootApplication">
    &lt;div>
        Hello &lt;span data-bind="text: model().name">&lt;/span>!
        &lt;br />
        &lt;helloWipeout.collapsable model="$parent.model().collapsableContent">&lt;/helloWipeout.collapsable>
    &lt;/div>
&lt;/script></code>       
        </Wipeout.Docs.ViewModels.Components.TemplateCodeBlock>
        <h3>Modify the application definition</h3>    
        <p>We now need to define the collapsableContent which we referenced in the modified template.</p>
        <Wipeout.Docs.ViewModels.Components.CodeBlock>
            <code>&lt;div id="helloWipeoutApp" data-bind="wipeout: helloWipeout.rootApplication">&lt;/div>
&lt;script type="text/javascript">
    var rootApp = document.getElementById("helloWipeoutApp");    
    ko.applyBindings({ name: "Wipeout", collapsableContent: "This is the text to show/hide" }, rootApp);
&lt;/script></code>       
        </Wipeout.Docs.ViewModels.Components.CodeBlock>
        <p>And that is it. Collapsable component added! The resulting content will render like this:</p>
        <div style="display: none">
        
        
        
        
        <!-- defining application components -->
        <Wipeout.Docs.ViewModels.Components.JsCodeBlock>
            <code>// create a namespace for the application
window.helloWipeout = {};
 
// create a custom view model which inherits from wo.view
helloWipeout.collapsable = wo.view.extend(function() {
    // call wo.view constructor and give the template id for this view model
    this._super("collapsable_template");
                
    this.open = true;
});
                
// a function which will show or hide the collapsable content
helloWipeout.collapsable.prototype.toggle = function() {
    // "colapsableContent" is the id of the div to show/hide in the template for this view model
    if(this.open)
        this.templateItems.colapsableContent.style.display = "none";
    else
        this.templateItems.colapsableContent.style.display = null;
                
    this.open = !this.open;
};</code>
        </Wipeout.Docs.ViewModels.Components.JsCodeBlock>   
        
        <Wipeout.Docs.ViewModels.Components.JsCodeBlock>
            <code>
helloWipeout.rootApplication = wo.view.extend(function () {
    // call the base constructor. The constructor for wo.view takes in a template id.
    this._super("helloWipeout.rootApplication");
});</code>
        </Wipeout.Docs.ViewModels.Components.JsCodeBlock>
		
		<Wipeout.Docs.ViewModels.Components.TemplateCodeBlock>
            <code>&lt;script type="text/xml" id="collapsable_template">
    &lt;!-- a link bound to the toggle function of the view model -->
    &lt;a href="javascript: void(0)" data-bind="click: toggle">Toggle&lt;/a>
    &lt;!-- a div whos content is bound to the model of the view model. 
                Its id is used to find this element within the view model -->
    &lt;div data-bind="html: model" id="colapsableContent">&lt;/div>
&lt;/script></code>
        </Wipeout.Docs.ViewModels.Components.TemplateCodeBlock>  
        </div>
        
        <Wipeout.Docs.ViewModels.Components.UsageCodeBlock showDefinitionCode="false">
            <code>&lt;helloWipeout.rootApplication model="{ name: 'Wipeout', collapsableContent: 'This is the text to show/hide' }">&lt;/helloWipeout.rootApplication></code>
        </Wipeout.Docs.ViewModels.Components.UsageCodeBlock>    
        <p>And if you were really adventurous you could use a browser debugger to have a look at the markup for the above application:</p>
        <Wipeout.Docs.ViewModels.Components.CodeBlock>
            <code>&lt;!-- ko  wipeout-type: helloWipeout.rootApplication-->
    &lt;div>Hello &lt;span>Wipeout&lt;/span>!
        &lt;br>
        &lt;!-- ko  wipeout-type: helloWipeout.collapsable-->
            &lt;!-- a link bound to the toggle function of the view model -->
            &lt;a href="javascript: void(0)">Toggle&lt;/a>
            &lt;!-- a div whos content is bound to the model of the view model. 
                        Its id is used to find this element within the view model -->
            &lt;div id="colapsableContent">This is the text to show/hide&lt;/div>
        &lt;!-- /ko -->
    &lt;/div>
&lt;!-- /ko --></code>
        </Wipeout.Docs.ViewModels.Components.CodeBlock>