
        <p>Wipeout is an MVVM framework built to harness the power and development style of WPF/Silverlight/XAML for a HTML/javascript environment. Wipeout is build on top of knockout to provide a powerful and familiar binding mechanism along with all of the features which knockout provides</p>
        <p>Wipeout is comprised of 2 components:
            <ol>
                <li>An simple object oriented framework along with some base classes to implement functionality</li>
                <li>A knockout template engine which interacts with the wipeout classes</li>
        </ol>
        </p>
    <p><h3>Why is this useful?</h3>
    Componentisation, componentisation, componentisation. As a precursor to web components, wipeout allows you to create custom html elements and use them within a template. Components have appearence, functionality and an underlying model. How about a quick example:
</p>
<h3>A collapsable html component</h3>
<p>First you create a view model class. This class inherits from the wo.view class (or one of its ancestors). The view model encapsulates all of the view logic of the component, in this case, the ability to show or hide the body of the collapsable</p> 
        <Wipeout.Docs.ViewModels.Components.JsCodeBlock>
            <code>// create a namespace for the application
window.helloWipeout = {};
 
// create a custom view model which inherits from wo.view
helloWipeout.collapsable = wo.view.extend(function() {
    // call wo.view constructor and give the template id for this view model
    this._super("collapsable_template");
                
    this.open = true;
});
                
// a function which will show or hide the collapsable content
helloWipeout.collapsable.prototype.toggle = function() {
    // "colapsableContent" is the id of the div to show/hide in the template for this view model
    if(this.open)
        this.templateItems.colapsableContent.style.display = "none";
    else
        this.templateItems.colapsableContent.style.display = null;
                
    this.open = !this.open;
};</code>
        </Wipeout.Docs.ViewModels.Components.JsCodeBlock>     
        <p>The collapsable view model needs an appearence, and for this we create a template.</p> 
        <Wipeout.Docs.ViewModels.Components.TemplateCodeBlock>
            <code>&lt;script type="text/xml" id="collapsable_template">
    &lt;!-- a link bound to the toggle function of the view model -->
    &lt;a href="javascript: void(0)" data-bind="click: toggle">Toggle&lt;/a>
    &lt;!-- a div whos content is bound to the model of the view model. 
                Its id is used to find this element within the view model -->
    &lt;div data-bind="html: model" id="colapsableContent">&lt;/div>
&lt;/script></code>
        </Wipeout.Docs.ViewModels.Components.TemplateCodeBlock>          
        <p>And this is how we use the new view model component</p> 
        <Wipeout.Docs.ViewModels.Components.UsageCodeBlock>
            <code>&lt;helloWipeout.collapsable model="'This is the content to be shown/hidden'">&lt;/helloWipeout.collapsable></code>
        </Wipeout.Docs.ViewModels.Components.UsageCodeBlock>        
        <br />
        <br />