
        <p>It can be useful to skip a binding context if it not needed. For example, when using a <code>wo.if</code> view model, it is generally un necessary to need any of the propertes of this view model or to want to set one of its <code>templateItems</code> (TODO, link). In this case we can ignore the binding context of this element using the <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().woInvisible" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><code>woInvisible</code></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent> property. </p>
        <p>The <code>woInvisible</code> property is a on the <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model().visual" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><code>wo.visual</code></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent> class and is <code>false</code> by defualt. It can be set to true in the view model constructor or in the template, but is not an observable and later changes will not reflect in the binding context.</p>
        <p>The default value for the <Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent model="$parent.model()._if" routedEvent="Wipeout.Docs.ViewModels.Components.TreeViewBranch.renderPage">
            <template>
                <a href="javascript: void(0)" data-bind="click: trigger"><code>wo.if</code></a>
            </template>                            
        </Wipeout.Docs.ViewModels.Components.RaiseRoutedEvent> class is <code>true</code>.</p>