<h1>Disposing of Subscriptions</h1>

<p>MVVM architecture is generally an event based architecture. When an observed value changes, it triggers an event which will change the values of the properties observing it.
    These changes might, in turn, trigger other events and so on. With so many events and event handlers, it is important to keep track of and dispose of event subscriptions in the correct manner.
</p>
<p>Wipeout view models expose tools to track the subscriptions belonging to the view model.
<ul>
    <li><Wipeout.Docs.ViewModels.Components.RouteLink href="'/wipeout-0/how-do-i.html?article=disposing-using-a-callback'" text="'Disposing using a callback'" /></li>
    <li><Wipeout.Docs.ViewModels.Components.RouteLink href="'/wipeout-0/how-do-i.html?article=disposing-using-a-disposable-object'" text="'Disposing using a disposable object'" /></li>
    <li><Wipeout.Docs.ViewModels.Components.RouteLink href="'/wipeout-0/how-do-i.html?article=forcing-disposal'" text="'Forcing disposal'" /></li>
</ul>
</p>