<h1>Binding in code</h1>

    <p>You can also bind values in javascript using the <Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.view&amp;functionName=bind&amp;isStatic=false'" text="'bind'" /> function.</p>

    <Wipeout.Docs.ViewModels.Components.CodeBlock newScriptId="'bind-in-code-script-1'">
        <code>var objectToBindTo = ko.observable("Hello wipeout!");
var myView = new wo.view();
myView.bind("model", objectToBindTo, false);

// Will log: "Hello wipeout!"
console.log(myView.model());
            
objectToBindTo("Goodbye wipeout!");
            
// Will log: "Goodbye wipeout!"
console.log(myView.model());</code>
    </Wipeout.Docs.ViewModels.Components.CodeBlock>

    <p>
        More details on binding can be found here:
        TODO: link to bind how do i page
</p>
<br/>
<br/>