<h1>Reserved tags</h1>

<p>When compiling templates, wipeout uses an opt-out model for deciding what is a view model and what is a html tag. If you are using web components or need
some custom tags in html markup you can register the tag with <Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.visual&amp;propertyName=reservedTags&amp;isStatic=true'" text="'reservedTags'" /> </p>
    
<Wipeout.Docs.ViewModels.Components.CodeBlock>
    <code>wo.visual.reservedTags["my-tag"] = true;</code>
</Wipeout.Docs.ViewModels.Components.CodeBlock>