<h1>Cascading models</h1>

<p>
If the model property of a view model is not explicitly set, it recieves the mode of its parent.
</p>

    <Wipeout.Docs.ViewModels.Components.NewTemplateCodeBlock newScriptId="'cascading-models-script-1'">
        <code>&lt;wo.contentControl model="{ value: 'Hello wipeout!' }">
    &lt;template>
        &lt;wo.contentControl>
            &lt;template>
                Binding to a property on a cascaded model: &lt;span data-bind="text: model().value">&lt;/span>
            &lt;/template>
        &lt;/wo.contentControl>
    &lt;/template>
&lt;/wo.contentControl></code>
    </Wipeout.Docs.ViewModels.Components.NewTemplateCodeBlock>

    
    <Wipeout.Docs.ViewModels.Components.UsageCodeBlock showDefinitionCode="false">
        <code>&lt;wo.view templateId="'cascading-models-script-1'" /></code>
    </Wipeout.Docs.ViewModels.Components.UsageCodeBlock> 
<br/>
<br/>