<h1>Advanced routed events</h1>

    <p>The routed event <Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.visual&amp;functionName=registerRoutedEvent&amp;isStatic=false'" text="'register'" />
        method also accepts other arguments to control the flow of the event.</p>
    <p>The <Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.routedEventArgs'" text="'routed event args'" /> class contains three properties:
        <ol>
            <li><Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.routedEventArgs&amp;propertyName=data&amp;isStatic=false'" text="'data'" />: the event args passed in when the event was triggered.</li>
            <li><Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.routedEventArgs&amp;propertyName=originator&amp;isStatic=false'" text="'originator'" />: The view model which triggered the event.</li>
            <li><Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.routedEventArgs&amp;propertyName=handled&amp;isStatic=false'" text="'handled'" />: If set to true, the event will stop bubbling up the chain.</li>
</ol>
</p>
