<h1>Binding or setting properties</h1>

There are lots of ways to bind items and set properties within a template:

<ul>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Bind to a static value'" href="'/wipeout-0/how-do-i.html?article=bind-to-static-value'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Bind to a property on the view model'" href="'/wipeout-0/how-do-i.html?article=bind-in-scope'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Bind to a property on the model'" href="'/wipeout-0/how-do-i.html?article=bind-to-model'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Bind to a property on the parent\'s view model'" href="'/wipeout-0/how-do-i.html?article=bind-to-parents-view-model'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Set the model from the parent\'s model'" href="'/wipeout-0/how-do-i.html?article=bind-to-parents-model'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Cascading models'" href="'/wipeout-0/how-do-i.html?article=cascading-models'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Two way bindings'" href="'/wipeout-0/how-do-i.html?article=bind-two-way'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Bind to a global value'" href="'/wipeout-0/how-do-i.html?article=bind-to-global'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Bind in javascript code'" href="'/wipeout-0/how-do-i.html?article=bind-in-code'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Find an ancestor to bind to'" href="'/wipeout-0/how-do-i.html?article=bind-to-ancestor'" />
    </li>
    <li>
        <Wipeout.Docs.ViewModels.Components.RouteLink text="'Call a method on another object'" href="'/wipeout-0/how-do-i.html?article=call-method-out-of-scope'" />
    </li>
</ul>