<h1>Wipeout native classes</h1>

<p>Wipeout has several native classes which can be inherited from to build an application.
    <br />
    When building view models, you will be inheriting from:
<ul>
    <li>wo.view, for the most basic of view models</li>
    <li>wo.contentControl, for view models with a template property</li>
    <li>wo.itemsControl, for view models which deal with lists</li>
</ul>
    You may also wish to have an object oriented model layer, although this is not necessary
<ul>
    <li>wo.object, for the most basic of oo functionality</li>
    <li>wo.routedEventModel for models which can raise routed events</li>
</ul>
</p>

<h2><Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.object'" text="'wo.object'" /></h2>
<p>This is the base class for all wipeout objects and contains functionality to extend itself and call base methods.</p>

<h2><Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.visual'" text="'wo.visual'" /></h2>
<p>This class derives from wo.object and is a class with a visual element. This should not be inherited from directly, but rather you should inherit from 
<Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.view'" text="'wo.view'" /></p> 

<h2><Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.view'" text="'wo.view'" /></h2>
<p>This class derives from wo.visual and is the base class for view models. It has a model property and provides binding functionality.</p>

<h2><Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=templates-content-control'" text="'wo.contentControl'" /></h2>
<p>This class derives from wo.view and provides functionality to specify the template as a template string rather than as an Id.</p>

<h2><Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=working-with-lists'" text="'wo.itemsControl'" /></h2>
<p>This class derives from wo.contentControl and provides list building functionality. This is the wipeout equivelant of the "foreach" knockout binding</p>

<h2><Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=if-control'" text="'wo.if'" /></h2>
<p>This class derives from wo.contentControl and provides functionality similar to the "if" knockout binding. By default, wo.if has <Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=share-parent-scope'" text="'shareParentScope'" /> </p>

<h2><Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=routed-event-models'" text="'wo.routedEventModel'" /></h2>
<p>This class derives from wo.object and is the base class for model objects with will raise and catch routed events.</p>