<h1>Set an int property</h1>

    <Wipeout.Docs.ViewModels.Components.NewTemplateCodeBlock newScriptId="'set-int-property-script-1'">
        <code>&lt;wo.contentControl>
    &lt;myVal constructor="int">
        66
    &lt;/myVal>
    &lt;template>
        Binding to element value: &lt;span data-bind="text: myVal">&lt;/span>
    &lt;/template>
&lt;/wo.contentControl></code>
    </Wipeout.Docs.ViewModels.Components.NewTemplateCodeBlock>

    
    <Wipeout.Docs.ViewModels.Components.UsageCodeBlock showDefinitionCode="false">
        <code>&lt;wo.view templateId="'set-int-property-script-1'" /></code>
    </Wipeout.Docs.ViewModels.Components.UsageCodeBlock> 