<h1>Set proerties using XML elements</h1>

<p>As well as setting properties using vm attributes, you can also set them using xml elements. A great example of this is using the <code>template</code> property of a 
    <Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.contentControl'" text="'contentControl'" /> which has been set in most previous examples
</p>

    <Wipeout.Docs.ViewModels.Components.NewTemplateCodeBlock newScriptId="'set-properties-using-xml-elements-script-1'">
        <code>&lt;wo.contentControl>
    &lt;template>
        Hello wipeout!
    &lt;/template>
&lt;/wo.contentControl></code>
    </Wipeout.Docs.ViewModels.Components.NewTemplateCodeBlock>

    
    <Wipeout.Docs.ViewModels.Components.UsageCodeBlock showDefinitionCode="false">
        <code>&lt;wo.view templateId="'set-properties-using-xml-elements-script-1'" /></code>
    </Wipeout.Docs.ViewModels.Components.UsageCodeBlock> 
    