<h1>Disposing using a disposable object</h1>

<p>The <Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.visual&amp;functionName=registerDisposable&amp;isStatic=false'" text="'registerDisposable'" /> method is used to register a disposable item. A disposable item is simply an object with a dispose function</p>

<Wipeout.Docs.ViewModels.Components.CodeBlock>
    <code>var myViewModel = wo.view.extend({
    constructor: function myViewModel() {
        this._super();
    },
    onModelChanged: function(oldModel, newModel) {
        this._super(oldModel, newModel);
        
        if(newModel) {
            var eventRegistration = newModel.myObservable.subscribe(function() {
                // do something
            });
        
            // eventRegistration will be of the form { dispose: function() { } }
            this.registerDisposeCallback(eventRegistration);
        }
    }
});</code>
</Wipeout.Docs.ViewModels.Components.CodeBlock>