<h1>Forcing disposal</h1>

<p>You can force the disposal of a registered disposable object or callback function by using the 
    <Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.visual&amp;functionName=disposeOf&amp;isStatic=false'" text="'disposeOf'" /> method. </p>

<Wipeout.Docs.ViewModels.Components.CodeBlock>
    <code>var myViewModel = wo.view.extend({
    constructor: function myViewModel() {
        this._super();
    },
    cleanAfterOldModel: function() {
        if(this.myObservableDisposeKey) {
        
            // dispose of the subscription registered in onModelChanged
            this.disposeOf(this.myObservableDisposeKey);
            delete this.myObservableDisposeKey;
        }
    },
    onModelChanged: function(oldModel, newModel) {
        this._super(oldModel, newModel);
        
        this.cleanAfterOldModel();
        
        if(newModel) {
            var eventRegistration = newModel.myObservable.subscribe(function() {
                // do something
            });
        
            // keep a note of the return value of registerDisposeCallback
            this.myObservableDisposeKey = this.registerDisposeCallback(eventRegistration);
        }
    }
});</code>
</Wipeout.Docs.ViewModels.Components.CodeBlock>