<h1>Strict mode</h1>

<p>Unfortunately the <Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.object&amp;functionName=_super&amp;isStatic=false'" text="'_super'" /> method will not be able to find any functions defined in javascript strict mode. You must reference the method directly instead.</p>

<Wipeout.Docs.ViewModels.Components.CodeBlock newScriptId="'bind-to-parents-model-script-1'">
    <code>myChildClass.prototype.myOverrideFunction = function() {
    myParentClass.prototype.myOverrideFunction.apply(this, arguments);
        
    // continue with method override here
}</code>
</Wipeout.Docs.ViewModels.Components.CodeBlock>

<p>The _super function will always be able to find the parent constructor.</p>