<h1>Advanced routed events</h1>

    <p>The routed event <a href="/wipeout-0/api.html?type=api&amp;className=wo.visual&amp;functionName=registerRoutedEvent&amp;isStatic=false">register</a> 
        method also accepts other arguments to control the flow of the event.</p>
    <p>The <a href="/wipeout-0/api.html?type=api&amp;className=wo.routedEventArgs">routed event args</a> class contains three properties:
        <ol>
            <li><a href="/wipeout-0/api.html?type=api&amp;className=wo.routedEventArgs&amp;propertyName=data&amp;isStatic=false">data</a>: the event args passed in when the event was triggered.</li>
            <li><a href="/wipeout-0/api.html?type=api&amp;className=wo.routedEventArgs&amp;propertyName=originator&amp;isStatic=false">originator</a>: The view model which triggered the event.</li>
            <li><a href="/wipeout-0/api.html?type=api&amp;className=wo.routedEventArgs&amp;propertyName=handled&amp;isStatic=false">handled</a>: If set to true, the event will stop bubbling up the chain.</li>
</ol>
</p>
