<h1>Using lists of items</h1>

    <p>Lists of items are at the core of all javascript frameworks, and wipeout is no different. Within wipeout, 
        simple js objects cannot be rendered, and so need to be converted to wo.view objects first. You can do this with an
        <Wipeout.Rl href="'/wipeout-0/how-do-i.html?type=api&amp;className=wo.itemsControl'" text="'itemsControl'" />
    </p>

    <Wipeout.Docs.ViewModels.Components.CodeBlock>
        <code>&lt;wo.itemsControl itemSource="[{itemText: 'Item 1'}, {itemText: 'Item 2'}]">
    &lt;itemTemplate>
        &lt;div data-bind="text: model().itemText">&lt;/div>
    &lt;/itemTemplate>
&lt;/wo.itemsControl></code>
    </Wipeout.Docs.ViewModels.Components.CodeBlock>
<br/>
<br/>