<h1>Overriding functionality</h1>
 
<p>Wipeout is very much an open framework. There are very few nested closures which means almost anything is publicly writable.
    If there is something which is not quite up to your particular to spec, you can use the <a href="/wipeout-0/api.html">API</a> to find
    a method hook (and browse the code within the method) and override the default behaviour.
    <ul>
        <li><Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=global-overrides'" text="'Global (class) overrides'" /> </li>
        <li><Wipeout.Rl href="'/wipeout-0/how-do-i.html?article=local-overrides'" text="'Local (object) overrides'" /> </li>
</ul>
</p>

