<h1>The virtual method cache</h1>

    <p>The <a href="http://localhost:4000/wipeout-0/api.html?type=api&amp;className=wo.object&amp;functionName=_super&amp;isStatic=false">_super</a>
        method has to find the correct method to call from its ancestor class. In order to speed up future lookups, references to parent methods
are cached in the virtual cache.</p>
    <p>In most cases this will not concern your application. However, if you are modfifying an objects prototype midway through the application lifecycle
        this may cause problems. You can get around this by using the 
        <a href="http://localhost:4000/wipeout-0/api.html?type=api&amp;className=wo.object&amp;functionName=clearVirtualCache&amp;isStatic=true">clearVirtualCache</a> method and 
<a href="http://localhost:4000/wipeout-0/api.html?type=api&amp;className=wo.object&amp;propertyName=useVirtualCache&amp;isStatic=true">useVirtualCache</a> property.</p>