<h1>Content Control</h1>

<p>The content control is a wipeout base class which allows you to set the template explicicitly, rather than having to set a template id.   
    <Wipeout.Docs.ViewModels.Components.CodeBlock>
        <code>&lt;wo.contentControl>
    &lt;template>
        Hello wipeout!
    &lt;/template>
&lt;/wo.contentControl></code>
    </Wipeout.Docs.ViewModels.Components.CodeBlock>
</p>
<p>
    The content control has a
    <Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.contentControl&amp;propertyName=templateId&amp;isStatic=false'" text="'templateId'" /> and
    <Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.contentControl&amp;propertyName=template&amp;isStatic=false'" text="'template'" />
    propery which are bound together. 
    
    <ul>
        <li>Setting the template property will create a new anonymous template (if necessary) and set the the template id accordingly</li>
        <li>Setting the templateId property will also reflect in the template property.</li>
        <li>It is not a good idea to read from the template property. Once a template is defined it is rewritten by both knockout and wipeout, so the resulting string is unpredictable</li>
    </ul>
</p>
<p>
    You can mimic template/templateId functionality on a custom vie model by using the 
    <Wipeout.Rl href="'/wipeout-0/api.html?type=api&amp;className=wo.contentControl&amp;functionName=createTemplatePropertyFor&amp;isStatic=true'" text="'createTemplatePropertyFor'" /> function.
    <Wipeout.Docs.ViewModels.Components.CodeBlock>
        <code>var myViewModel = wo.view.extend(function myViewModel() {
    this._super();
            
    this.myTemplate = wo.contentControl.createTemplatePropertyFor(this.templateId, this);
});</code>
    </Wipeout.Docs.ViewModels.Components.CodeBlock>
</p>