<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}</title>
    </head>
    <body>
        
        <link rel="stylesheet" type="text/css" href="content/style/style.css">
        <link rel="stylesheet" type="text/css" href="content/style/prettify.css">
        
        <script type="text/javascript" src="scripts/lib/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="scripts/lib/knockout-2.3.0.debug.js"></script>
        <script type="text/javascript" src="scripts/lib/wipeout-0.3.debug.js"></script>
        
        <script type="text/javascript" src="scripts/lib/prettify.js"></script>
        
        <script type="text/javascript" src="scripts/build/wipeoutDocs.debug.js"></script>