
        <p>The wo.object class is the base class for all wipeout objects. It provides helpers to inhert from and call base methods of a class</p>
        <Wipeout.Docs.ViewModels.Components.JsCodeBlock>
            <code>// create a parent class which inherits from wo.object        
var person = wo.object.extend(function(name /* constructorArg */) {
    // call constructor on wo.object class
    this._super();
    
    this.name = name;
});

// add a method to person
person.prototype.greet = function(person) {
    return "Hi " + person.name + ". I am " + this.name + ".";
};

// create a child class which inherits from person     
var veryPolitePerson = person.extend(function(name /* constructorArg */) {
    // call constructor on person class
    this._super(name);
});

// add a method to veryPolitePerson, overriding a method on person
veryPolitePerson.prototype.greet = function(person) {
    // call overwridden greet method on parent class
    var baseResult = this._super(person);
    return baseResult + " Pleased to meet you!";
};

// create 2 people
var john = new person("John");
var mark = new veryPolitePerson("Mark");

// will log: "Hi Mark. I am John."
console.log(john.greet(mark));

// will log: "Hi John. I am Mark. Pleased to meet you!"
console.log(mark.greet(john));</code>
        </Wipeout.Docs.ViewModels.Components.JsCodeBlock>