
        <p>Use the wo.if control to render content only if a condition is met. By default the woInvisible property of a wo.if is set
        to true, meaning that rendered children of the wo.if cannot bind to its properties</p>
        <Wipeout.Docs.ViewModels.Components.UsageCodeBlock>
            <code>&lt;span>Control 1:&lt;/span>
&lt;wo.if condition="true">
    &lt;!--The template if the condition is true-->
    &lt;template>
        The condition is true
    &lt;/template>
    &lt;!--The template if the condition is false-->
    &lt;elseTemplate>
        The condition is false
    &lt;/elseTemplate>
&lt;/wo.if>
&lt;br />
&lt;span>Control 2:&lt;/span>
&lt;wo.if condition="false">
    &lt;!--The template if the condition is true-->
    &lt;template>
        The condition is true
    &lt;/template>
    &lt;!--The template if the condition is false-->
    &lt;elseTemplate>
        The condition is false
    &lt;/elseTemplate>
&lt;/wo.if></code>
        </Wipeout.Docs.ViewModels.Components.UsageCodeBlock>  