
        <p>The wo.contentControl class is a wo.view class with the ability to set its template as a string as well as an Id. For example:</p>
        <Wipeout.Docs.ViewModels.Components.UsageCodeBlock>
            <code>&lt;wo.contentControl model="{firstName: 'John', lastName: 'Smith'}">
    &lt;template>
        &lt;label>First name:&lt;/label>
        &lt;span data-bind="html: model().firstName">&lt;/span>,
        &lt;label>Last name:&lt;/label>
        &lt;span data-bind="html: model().lastName">&lt;/span>
    &lt;/template>
&lt;/wo.contentControl></code>
        </Wipeout.Docs.ViewModels.Components.UsageCodeBlock> 
        <p>The template and templateId properties are tightly bound, so that if the template property is set the templateId property will reflect this change, and vice versa</p>        
        