
        <p>The wo.itemsControl class is the wipeout method for dealing with collections. It has am itemsSource property, designed to accept an array of models. It also has an items property which will be auto populated with view models which correspond to the itemsSource models</p>
        <Wipeout.Docs.ViewModels.Components.UsageCodeBlock>
            <code>&lt;wo.itemsControl itemSource="[{firstName: 'John', lastName: 'Smith'}, {firstName: 'Mark', lastName: 'Walsh'}]">
    &lt;!--The template for the control as a whole-->
    &lt;template>
        &lt;h2>People:&lt;/h2>
        &lt;!--The itemsControl binding renders each item into the parent element.
            It does not need a second argument, however knockout syntax requires it-->
        &lt;ul data-bind="itemsControl: null">&lt;/ul>
    &lt;/template>
    &lt;!--The template for each item in the itemSource-->
    &lt;itemTemplate>
        &lt;li>
            &lt;label>First name:&lt;/label>
            &lt;span data-bind="html: model().firstName">&lt;/span>,
            &lt;label>Last name:&lt;/label>
            &lt;span data-bind="html: model().lastName">&lt;/span>
        &lt;/li>
    &lt;/itemTemplate>
&lt;/wo.itemsControl></code>
        </Wipeout.Docs.ViewModels.Components.UsageCodeBlock>  