body { padding-top: 70px; }

p {
    max-width: 800px
}

.staticHeader-height {
    height: 80px;
}

.staticHeader {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
}

.main-page-section {
    margin-top: 30px;
    margin-bottom: 70px;
}

.leftNav-width {
    width: 300px;
}

.leftNav {    
    overflow:auto;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

.leftNav li {
    list-style: none;
    margin-left: -20px;
}

p {
    margin-top: 10px;
    margin-bottom: 20px;
}

ul.wo-navbar-right {
    position: absolute;
    bottom: 0px;
    right: 15px;
    margin-bottom: 0px;
}

.center-container {
    position: relative;
}

.center {
    position: absolute;
    margin-right: -62.5px;
    margin-left: -62.5px;
    left: 50%;
    right: 50%;
}

ul.wo-navbar-right li {
    float: left;
    padding: 5px;
    list-style: none;
}

.index-page {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 30px;
}

.columns>* {
    float: left;
    
}

.columns:after { /*clearfix*/    
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.columns .column-4 {
    width: 25%;
}

.columns .column-3 {
    width: 33.33%;
}

.columns .column-2 {
    width: 50%;
}

.main-image-dimentions {
    height: 125px;
    width: 125px;
}

.main-example-code>pre {
    width : 100%;
}

.main-example-code {
    padding-left: 5px;
    padding-right: 5px;
}