
.staticHeader-height {
    height: 80px;
}

.staticHeader {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    width: 100%;
}

.leftNav-width {
    width: 300px;
}

.leftNav {
    overflow:auto;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 10px;
    padding-left: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 20px;
}