body {
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
}

.leftNav {
    overflow:auto;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
}

.classTable td {
    padding: 2px;
}

.classTable td:nth-child(2) {
    padding-left: 20px;
}